.table-custom {
    // overflow-x: scroll;
    overflow: hidden;
    border: 1px solid #dde4ed;
    border-radius: 16px;
    table {
      width: 100%;
    }
    th,
    td {
      padding: 16px; 
    }
    th {
      text-align: start;
      background-color: #f9fbfc;
      color: #0a1e8c;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
    }
    &__flex {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &__center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    @media (max-width: 767px) {
      th,
      td {
        padding: 16px 0.2rem; 
      }
  
      tr {
        th:first-child,
        td:first-child {
          padding-left: 16px; 
        }
        th:last-child,
        td:last-child {
          padding-right: 16px; 
        }
      }
    }
  }
  
  .dot {
    height: 8px; 
    width: 8px; 
    border-radius: 100%;
  }

  .dot-status {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 100%;
  }
  
  .dot-status--enable{
    background-color: #00B183;
  }
  
  .dot-status--in-process{
    background-color: #F2C744;
  }
  
  .dot-status--disable{
    background-color: #040919;
  }